section#home

  .home-wrapper

    .main-container
      .text-container
        h1 110qm WOHNUNG IN 1030 WIEN
        p Hallo,
        p mit einem lachenden und einem weinenden Auge lassen wir unsere WG auf und suchen nun Nachmieter*innen für unsere Wohnung in 1030 Wien beim botanischen Garten. 110qm Altbau, Hochparterre, 3 Zimmer mit Parkettboden, ideal als 3er-WG oder auch für eine kleine Familie. Bad mit Badewanne, Küche mit Stubenflair. Große Abstellkammer. Ab 1. Juli. Miete inkl. BK sensationelle 885,-. Bei Interesse bitte&nbsp;
          a(href='mailto:emdo2000@gmail.com') Kontakt aufnehmen.
        p Mit lieben Grüßen,
        p Vali, Anna, Emanuel

      .photo-gallery
        .grid
          .grid-item
            img(src='assets/img/img1.jpg')
          .grid-item
            img(src='assets/img/img2.jpg')
          .grid-item
            img(src='assets/img/img3.jpg')
          .grid-item
            img(src='assets/img/img4.jpg')
          .grid-item
            img(src='assets/img/img5.jpg')
          .grid-item
            img(src='assets/img/img6.jpg')
          .grid-item
            img(src='assets/img/img7.jpg')

